@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

:root
{
    --Color-1: #0e0e0e;
    --Color-2: #dc3545;
    --Color-3:#02111B;
    --Color-4:#ffb700;
    --Color-5: whitesmoke;
    --Color-6: rgb(124, 29, 20);
    --Active:rgb(255, 249, 194);
}


/* NAVBAR */

nav.navbar#navBar{
    background-color: var(--Color-1) !important;
}

.navbar .navbar-nav li a:hover{
    color: var(--Color-2) !important;
}

.navbar .navbar-nav li a:active{
    color: var(--Color-2) !important;
}

.navbar .navbar-nav li{
    padding-right: 10px;
}

.navbar .navbar-nav li a{
    color:var(--Color-5) !important;
    font-family: 'Oswald', sans-serif !important;
}

.navbar .nav-item .dropdown-menu .dropdown-item{
    color: black !important;
}

.navbar .nav-item .dropdown-menu .dropdown-item:active{
    background-color: gainsboro !important;
}

.navbar .nav-item .dropdown-menu .dropdown-item:hover{
    color: var(--Color-2) !important ;
}


.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }

.navbar{
      height: 100px;
  }

/* LANDING */


h1{
    color: white;
    text-align: center;
    padding: 2em;
}

#landingContainer{
    background-color: rgba(0, 0, 0, 0.808);
    background-image: url('https://cdn4.vectorstock.com/i/1000x1000/04/88/gamepad-silhouette-seamless-background-vector-8530488.jpg');
    background-size: 50%;
    
}


.form{
    text-align:center;
    border-style: solid;
    padding-bottom: 1em;
    overflow: hidden;
    background-color:whitesmoke;
    max-width: 500px;
    border-radius: 10%;
    margin: auto;
    margin-bottom: 12em;
    margin-top: 2em;

}

input[type=button], button {
    background-color: rgb(129, 0, 0);
    border: none;
    color: white;
    padding: 1em 3em;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin: 1em;
  }

  .btnR{
    font-family: 'Oswald', sans-serif !important;
    border-radius: 5px;
    margin:1em;
  }

  .btnR:hover{
    color: var(--Active);
  }

  input[type=text], input[type=password], input[type=email]{
    border: 3px solid #555;
    border-radius: 20px;
    padding-left:15px;
    padding-right:15px;
}

footer{
    background-color: var(--Color-1) !important;
    color: var(--Color-5);
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.descripcionNova{

    background-color: rgb(20, 20, 20);
    margin: auto;
    text-align: center;

}

.cardNova,.card{
    background-color: rgb(20, 20, 20);
    color: whitesmoke;
    
}

div>img, div>h4, div>p{
    max-width: 250px;
    max-height: 250px;
    margin: auto;
    padding: 1em;
    
}

.containerWelc{
    background-color: rgba(0, 0, 0, 0.575);
}

/* SIGN UP MODAL */

 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  } 

  .selectImg{
    font-family: 'Oswald', sans-serif !important;
    margin: auto;
    text-align: center;
    background: none; 
    border-style: none; 
    background-color: black; 
    padding: 1em; 
    color:white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .selectImg label{
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
  }

  .selectImg label:hover{
    color: var(--Active)
  }

  input[type="file"] {
    display: none;
}



/*-------------------*/