@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

:root
{
    --Color-1: #0e0e0e;
    --Color-2: #dc3545;
    --Color-3:#02111B;
    --Color-4:#ffb700;
    --Color-5: whitesmoke;
    --Color-6: rgb(124, 29, 20);
    --BorderCSS: #ced4da;
}

body{
    background-color: whitesmoke !important;
}

/* NAVBAR */

nav.navbar#navBar{
    background-color: var(--Color-1) !important;
}

.navbar .navbar-nav li a:hover{
    color: var(--Color-2) !important;
}

.navbar .navbar-nav li a:active{
    color: var(--Color-2) !important;
}

.navbar .navbar-nav li{
    padding-right: 10px;
}

.navbar .navbar-nav li a{
    color:var(--Color-5) !important;
    font-family: 'Oswald', sans-serif !important;
}

.navbar .nav-item .dropdown-menu .dropdown-item{
    color: black !important;
}

.navbar .nav-item .dropdown-menu .dropdown-item:active{
    background-color: gainsboro !important;
}

.navbar .nav-item .dropdown-menu .dropdown-item:hover{
    color: var(--Color-2) !important ;
}

/* SEARCHBAR */

.btn#BTSearch{
   color: var(--Color-5);
   font-family: 'Oswald', sans-serif !important;
}

.btn#BTSearch:hover{
   color: var(--Color-5);
   font-family: 'Oswald', sans-serif !important;
}

#BRSearch{
    width:500px !important;
    font-family: 'Roboto', sans-serif !important;
}

@media (max-width: 425px){
    #BRSearch {
    width:180px !important;
    }

    #BTSearch {        
     margin-left: 15px;
    }
}

button{
    font-family: 'Oswald', sans-serif !important;
}

button.newList{  
    margin-top: 2em;
    margin-right: 3em;
    float: right;
}

h1.topTitle{
    font-family: 'Oswald', sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

hr.topTitleHR{  
    border: 1px solid black;
    width: 95%;
    margin-top: 0;
    margin-bottom: 1rem;
}

.myList{
    margin-bottom: 1rem;
}

.myList .buttons{
    margin-top: 2rem;
    float: right;
    margin-bottom: 1rem;
}

.myList .barBut{
    margin-left: 1rem;
}

h2.titleList{
    font-family: 'Oswald', sans-serif;
    margin-left: 0;
}

p.descrList{
    font-family: 'Roboto', sans-serif;
}

h5.onlyText{
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

img.imgList{
    width: 180px;
    height: 180px;
    border: 2px solid var(--Color-2);
    box-shadow: 0 0 10px var(--Color-2);
    border-radius: 100%;
    object-fit: cover;
    overflow: hidden;
    margin-top: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.long-modal{
    max-width: 70% !important;
}

#descrList{
    resize: none;
    border: 1px solid var(--BorderCSS);
    border-radius: 5px;
}

div#imgList img, div#imgList img{
    width: 200px;
    height: 200px;
    border: 2px solid var(--Color-2);
    box-shadow: 0 0 10px var(--Color-2);
    border-radius: 100%;
    object-fit: cover;
    overflow: hidden;
    margin-top: 1rem;
    margin-left: 3rem;
    float: right;
}

.modal-body#createList label, .modal-body#createList h1{
    font-family: 'Oswald', sans-serif;
}

.modal-body#createList form{
    font-family: 'Roboto', sans-serif;
}

.modal-body#createList form input:focus, .modal-body#createList textarea:focus{
    border: 1px solid var(--Color-2);
    box-shadow: 0 0 4px var(--Color-2);
    outline: none;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    font-family: 'Oswald', sans-serif;
    border: 1px solid var(--Color-2);
    color: var(--Color-2);
    border-radius: 5px;
    padding: 6px 12px;
    cursor: pointer;
    float: left;
    margin-top: 6rem;
}

.custom-file-upload:hover {
    border: 1px solid var(--Color-2);
    background-color: var(--Color-2);
    color: var(--TitleFont);
}

div#StateSel{
    font-family: 'Oswald', sans-serif !important;
    margin-top: 4em;
}

select#selectState{
    font-family: 'Oswald', sans-serif !important;
    color: var(--Color-2);
    border: 1px solid var(--Color-2);
}

select#selectState:focus{
    box-shadow: 0 0 4px var(--Color-2);
}